
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-top: 1.5em;
  padding-bottom: 1em;
  background: #191919;
  /*  border: 1px solid #000;   */
  padding-left: calc(7% - 25px);
}

/*  .header__title {
   border: 1px solid #fff;
}  */

.header__title__brand {
  padding-left: 5px;
  width: 8rem;
  height: auto;
}

.header__menu {
  margin-top: 25px;
  /*  border: 1px solid #000;   */
}

.header__menu div {
  border: 2px solid #9C37B9;
  width: 25px;
  margin-bottom: 5px;
}

.header__menu div:last-child {
  width: 12.5px;
  border-color: #59E0EB;
  margin-bottom: 0;
}

.header__menu__nav {
  display: none;
}

.header__menu-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: .8em;
  margin: 0 1em;
  list-style: none;
}

.header__menu-item a {
  color: #fff;
  text-decoration: none;
}

.header__menu-item-btn a {
  width: 50px;
  text-transform: capitalize;
  padding: 10px 40px;
  border-radius: 16px;
}

.header__menu-item:nth-child(5) a {
  background-image: linear-gradient(90deg, #9C37B9, #59E0EB);
  border-radius: 5px;
  margin-left: 2em;
}

.header__menu-item:nth-child(6) a {
  border: 2px solid #59E0EB;
  color: #59E0EB;
}

@media (max-width: 230px) {
  .header {
    flex-direction: column;
  }

  .header__menu {
    margin-top: 5px;
  }
}

/*  @media (min-width: 543px) {
  .header {
    padding-right: 2rem;
    padding-left: .6rem;
  }
}  */

/*  @media (min-width: 768px) {
  .header {
    padding-right: 3.2rem;
    padding-left: 1.8rem;
  }
}  */

@media (min-width: 1200px) {
  .header__menu__btn {
    display: none;
  }

  .header__menu__nav {
    display: block;
  }
}