body {
  margin: 0;
  box-sizing: border-box;
  background: #191919;
  font-family: 'Roboto Mono', monospace;
}

.container {
  padding-left: 7%;
  padding-right: 7%;
  background: #191919;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main__info {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 4rem;
  order: 2;
}

.main__paragraph {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

.main__title {
  text-transform: capitalize;
  color: #59E0EB;
  font-size: 6vh;
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

.main__link {
  background-image: linear-gradient(90deg, #9C37B9, #59E0EB);
  width: 3.125em;
  height: 1.5em;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: .9em 1.8em;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5vh;
  transition: 1s background-image ease;
}

.main__link:hover,
.main__link:active {
  background-image: linear-gradient(90deg, #59E0EB, #9C37B9);
}

.main--enphasis {
  box-sizing: border-box;
  border-top: 5px solid #59E0EB;
  border-bottom: 5px solid #9C37B9;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    padding-top: 2.5em;
  }

  .main__info {
    width: 45%;
    padding-top: 6rem;
  }

  .main__title {
    font-size: 7vh;
  }

  .main--enphasis {
    width: 45%;
    border: none;
    padding: 0;
    margin: 0 7%;
    margin-top: 7rem;

    border-left: 5px solid #59E0EB;
    border-right: 5px solid #9C37B9;
  }
}